<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	{# Meta Data #}
	{% set default_title = 'WordPress Exposé' %}
	{% set default_description = 'Find detailed information on WordPress sites - including authors and commenters - and convert Gravatars to real email addresses.' %}
	<title>{{ page_title|default(default_title) }}</title>
	<meta name="description" content="{{ page_description|default(default_description) }}">

	{# Open Graph #}
	<meta property="og:title" content="{{ page_title|default(default_title) }}">
	<meta property="og:description" content="{{ page_description|default(default_description) }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ url('/') }}/img/open-graph-default.png">

	{# Twitter Cards #}
	<meta property="title:title" content="{{ page_title|default(default_title) }}">
	<meta property="twitter:card" content="summary">
	<meta property="twitter:site" content="chrisgherbert">
	<meta property="twitter:description" content="{{ page_description|default(default_description) }}">
	<meta property="twitter:image" content="{{ url('/') }}/img/open-graph-default.png">


	{% include 'components/site-icons.twig' only %}

	{# CSS #}
	<link rel="stylesheet" href="/css/app.css">

	{# Google Analytics #}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-17236416-26"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-17236416-26');
	</script>

</head>

<body>

	{% block base_header %}

		<header class="main-header">

			<div class="container-fluid">

				<h2 class="main-header__logo">
					<a href="/">
						<span class="sr-only">WordPress Exposé</span>
						<img src="/img/wordpress-expose-logo.png" alt="WordPress Exposé Logo">
					</a>
				</h2>

			</div>

		</header>

	{% endblock %}

	<div class="container-fluid">

		{% block content %}{% endblock %}

	</div>

	{% block base_footer %}

		<div class="main-footer">

			<div class="container-fluid">

				<div class="row">

					<div class="col-md-8 col-md-offset-2">

						<p>
							WordPress Exposé was created by <a href="http://chrisgherbert.com">Chris Herbert</a>. The site's code is on <a href="https://github.com/chrisgherbert/wordpress-users-analysis">Github</a>.  I have a couple other little projects like <a href="http://www.trumponstern.com">Trump on Stern</a> and <a href="http://www.fakenewscodex.com">The Fake News Codex</a>.
						</p>

					</div>

				</div><!-- /.row -->

			</div>

		</div><!-- /.main-footer -->

	{% endblock %}

</body>

<script src="/js/app.js"></script>

</html>