{% extends 'results.twig' %}

{% block results_form %}

	<form action="/wordpress/comments" method="GET" class="search-form search-form--outline search-form--results search-form--comments">

		<label for="url" class="sr-only">
			WordPress Site URL
		</label>

		<input type="text" name="url" class="search-form__input" value="{{ site.url }}" placeholder="http://wwww.example.com">

		<button type="submit" class="search-form__submit search-form__submit--blue">
			Show Comments
		</button>

	</form>

{% endblock %}

{% block results_pagination_top %}

	{% if items.next_prev %}

		<ul class="pagination">

			{% for pager in items.next_prev %}

				<li>
					<a href="{{ pager.url }}">
						{{ pager.name|raw }}
					</a>
				</li>

			{% endfor %}

		</ul>

	{% endif %}

{% endblock %}

{% block results_items %}

	<table class="results-table results-table--comments table">

		<thead>

			<tr>
				<th>Name</th>
				<th>ID</th>
				<th>Link</th>
				<th>Content</th>
				<th>Email/Hash</th>
			</tr>

		</thead>

		<tbody>

			{% for comment in items.items %}

				<tr {% if comment.email %}class="info"{% endif %}>

					<td class="results-table__name">

						<div class="media results-table__name-inner">

							<div class="media-left">
								<a class="results-table__avatar" href="{{ comment.avatar(500) }}">
									<img src="{{ comment.avatar(20) }}">
								</a>
							</div>

							<div class="media-body">
								<strong>{{ comment.author_name }}</strong>
							</div>

						</div>

					</td>

					<td class="results-table__id">{{ comment.id }}</td>
					<td class="results-table__link-cell">
						{% if comment.link %}
							<a class="results-table__link" href="{{ comment.link }}">{{ comment.link }}</a>
						{% endif %}
					</td>
					<td class="results-table__content">
						{{ comment.content|raw }}
					</td>
					<td class="results-table__email-hash">
						{% if comment.email %}
							<strong>{{ comment.email }}</strong>
						{% else %}
							{{ comment.email_hash }}
						{% endif %}
					</td>
				</tr>

			{% endfor %}

		</tbody>

	</table>

{% endblock %}

{% block results_pagination_bottom %}

	{% if items.next_prev %}

		<ul class="pagination">

			{% for pager in items.next_prev %}

				<li>
					<a href="{{ pager.url }}">
						{{ pager.name|raw }}
					</a>
				</li>

			{% endfor %}

		</ul>

	{% endif %}

{% endblock %}