{% extends 'base.twig' %}

{% block content %}

	<div class="section">

		{% block results_tabs %}

			<div class="results-tabs tabs">

				<a href="/wordpress/users" class="tabs__link {% if form == 'users' %} active {% endif %}">
					WordPress Users Search
				</a>

				<a href="/wordpress/comments" class="tabs__link {% if form == 'comments' %} active {% endif %}">
					WordPress Comments Search
				</a>

				<a href="/gravatar" class="tabs__link {% if form == 'gravatar' %} active {% endif %}">
					Gravatar Reverser
				</a>

			</div>

		{% endblock %}

		{% block results_form %}{% endblock %}

		{% block results_header %}

			<div class="results-header">

				{% if url %}

					<h1 class="results-header__title">
						Data for <a target="_blank" href="{{ site.url }}">{{ site.name|default(site.url) }}</a>
						{% if items.current_page > 1 %} (page {{ items.current_page }}) {% endif %}
					</h1>

					{% block results_count %}

						<div class="results-header__count">
							Found {{ items.total_items|number_format }} Items
						</div>

					{% endblock %}

				{% endif %}

			</div>

		{% endblock %}

		{% block results_errors %}

			{% if error %}
				<div class="results-errors">
					<div class="alert alert-danger">
						{{ error }}
					</div>
				</div>
			{% endif %}

		{% endblock %}

		{% block results_main %}

			{% block results_pagination_top %}

				{% if items.total_pages > 1 %}

					<ul class="pagination">

						{% for page in items.pagination %}

							<li {% if page.current %}class="active"{% endif %}>
								<a href="{{ page.url }}">
									{{ page.num }}
								</a>
							</li>

						{% endfor %}

					</ul>

				{% endif %}

			{% endblock %}

			{% block results_items %}{% endblock %}

			{% block results_pagination_bottom %}

				{% if items.total_pages > 1 %}

					<ul class="pagination">

						{% for page in items.pagination %}

							<li {% if page.current %}class="active"{% endif %}>
								<a href="{{ page.url }}">
									{{ page.num }}
								</a>
							</li>

						{% endfor %}

					</ul>

				{% endif %}

			{% endblock %}

		{% endblock %}

	</div>

{% endblock %}
